In [61]:
import spacy
import en_core_web_sm
import pprint
import pandas as pd

In [62]:
nlp = spacy.load("en_core_web_sm")

In [63]:
list_of_files = ["BattleCreekDec19_2019.txt", "BemidjiSep18_2020.txt", "CharlestonFeb28_2020.txt", "CharlotteMar2_2020.txt", 
                "CincinnatiAug1_2019.txt", "ColoradorSpringsFeb20_2020.txt", "DallasOct17_2019.txt", "DesMoinesJan30_2020.txt",
                "FayettevilleSep9_2019.txt", "FayettevilleSep19_2020.txt", "FreelandSep10_2020.txt", "GreenvilleJul17_2019.txt"]
                #"HendersonSep13_2020.txt", "HersheyDec10_2019.txt" ,"LasVegasFeb21_2020.txt", "LatrobeSep3_2020.txt",
                #"LexingtonNov4_2019.txt", "MilwaukeeJan14_2020.txt", "MindenSep12_2020.txt", "MinneapolisOct10_2019.txt",
                #"MosineeSep17_2020.txt", "NewHampshireAug15_2019.txt", "NewHampshireAug28_2020.txt", "NewHampshireFeb10_2020.txt",
                #"NewMexicoSep16_2019.txt", "OhioSep21_2020.txt", "PhoenixFeb19_2020.txt", "PittsburghSep22_2020.txt",
                #"TexasSep23_2019.txt", "ToledoJan9_2020.txt", "TulsaJun20_2020.txt", "TupeloNov1_2019.txt",
                #"WildwoodJan28_2020.txt", "Winston-SalemSep8_2020.txt", "YumaAug18_2020.txt"]
with open('all_speeches.txt','wb') as newf:
    for filename in list_of_files:
        with open("../Data/archive/" + filename,'rb') as hf:
            newf.write(hf.read())
            # newf.write('\n\n\n')   if you want to introduce
            # some blank lines between the contents of the copied files

In [64]:
doc = nlp(open('all_speeches.txt').read())
#doc = nlp("Dominic is getting a job in Seattle")

In [65]:
text = []
start_char = []
end_char = []
label = []

for ent in doc.ents:
    text.append(ent.text)
    start_char.append(ent.start_char)
    end_char.append(ent.end_char)
    label.append(ent.label_)
    #print(ent.text, ent.start_char, ent.end_char, ent.label_)

data = pd.DataFrame(columns = ["text", "start_char", "end_char", "label"])
data['text'] = text
data['start_char'] = start_char
data['end_char'] = end_char
data['label'] = label

In [66]:
data.head(50)

                     text  start_char  end_char        label
0                   Pence          50        55       PERSON
1         Merry Christmas         111       126       PERSON
2                Michigan         128       136          GPE
3                Michigan         149       157          GPE
4                Michigan         184       192          GPE
5                     One         219       222     CARDINAL
6               thousands         302       311     CARDINAL
7               Christmas         367       376         DATE
8                 America         395       402          GPE
9                   Merry         490       495       PERSON
10              Christmas         496       505         DATE
11                  Merry         536       541       PERSON
12              Christmas         542       551         DATE
13                  first         571       576      ORDINAL
14                  First         649       654      ORDINAL
15   the Republican Party        1007      1027          ORG
16               Michigan        1603      1611          GPE
17          the best year        1618      1631         DATE
18                  Japan        1764      1769          GPE
19           10 years ago        1901      1913         DATE
20             the Man Of        1935      1945       PERSON
21               The Year        1946      1954        EVENT
22             the Man Of        1991      2001       PERSON
23               The Year        2002      2010        EVENT
24               Michigan        2014      2022          GPE
25             the Man Of        2247      2257       PERSON
26               The Year        2258      2266        EVENT
27  close to 10 years ago        2280      2301         DATE
28               Michigan        2316      2324          GPE
29    the Man Of The Year        2349      2368  WORK_OF_ART
30                 Mexico        2555      2561          GPE
31                  China        2577      2582          GPE
32                  China        2607      2612          GPE
33                  China        2633      2638          GPE
34                  USMCA        2900      2905          ORG
35                  NAFTA        2928      2933          ORG
36                 Mexico        3298      3304          GPE
37                 Canada        3311      3317          GPE
38                 Canada        3422      3428          GPE
39                   297%        3464      3468      PERCENT
40                 Canada        3506      3512          GPE
41                 Mexico        3553      3559          GPE
42           Nancy Pelosi        3817      3829       PERSON
43               New York        4097      4105          GPE
44                    one        4307      4310     CARDINAL
45              Democrats        4344      4353         NORP
46           seven months        4430      4442         DATE
47         the day before        4524      4538         DATE
48                 Mexico        4679      4685          GPE
49                 Canada        4692      4698          GPE

In [68]:
data['text'].value_counts().head(50)

one                  259
America              217
American             213
China                153
Democrats            143
Michigan             125
first                109
North Carolina        96
two                   96
Texas                 81
Democrat              79
the United States     76
Trump                 74
Biden                 67
Russia                65
Joe                   53
Republican            51
Americans             50
Republicans           50
Mexico                49
Ohio                  49
tonight               49
today                 49
years                 46
Bernie                44
three                 43
South Carolina        41
second                41
Minnesota             40
Congress              39
Iowa                  37
Obama                 36
Washington            36
Mike                  35
Donald Trump          35
One                   35
Israel                32
Sleepy Joe            31
thousands             29
Colorado              28
four                  28
Europe                28
Hillary               27
Joe Biden             27
Jerusalem             25
last night            24
USA                   24
First                 24
three years           24
Maine                 23
Name: text, dtype: int64

In [69]:
data['label'].value_counts().head(50)

GPE            1873
PERSON         1590
CARDINAL       1238
DATE           1117
NORP            766
ORG             726
MONEY           270
ORDINAL         203
TIME            172
PERCENT         157
LOC             126
WORK_OF_ART      58
FAC              38
PRODUCT          37
QUANTITY         37
LAW              28
EVENT            24
Name: label, dtype: int64

In [79]:
subset = data[data['label'] == "LOC"]

In [80]:
subset['text'].value_counts().head(50)

Europe               28
Biden                27
earth                12
the Golan Heights    10
Mars                  9
the Middle East       8
Asia                  4
Midwest               3
Make America          3
Central Park          2
Earth                 2
the Pacific ocean     2
the Iron Range        1
South                 1
North                 1
Middle East           1
the Rio Grande        1
Iron Range            1
Commicast             1
the Planet Earth      1
the moon              1
drip                  1
West Point            1
the Red River         1
Concast               1
Rockies               1
The Golan Heights     1
Caliphate             1
Name: text, dtype: int64